<HTML>
   <head>
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">   
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <title> Frequently Asked Questions </title>
   </head>
   <body>
      <DIV id = 'header'>
      </DIV>
      <form id="container">
            <h2><center>Frequently Asked Questions</center></h2>
         <h2><% for (var i=0; i<data.length; i++){ %></h2>
         <div class="question" id="<%= data[i] %>"> 
           <a href="#collapsed<%= i %>" class="btn btn-info" data-toggle="collapse"><%= data[i].question %></a>
         <h2><span></span></h2>
            <h2><% for (var j = 0; j < data.length; j++) { %></h2>
            <div class="answer">
              <div id="collapsed<%= i %>"" class="collapse">
            <ul><%=data[i]["answer"][j]%></ul>
            </div>
            </div>
            <% } %>
            </div>
            <p></p>
            <p></p>
            <% } %>
            </form>
               </BODY>
</HTML>